.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-default {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  display: flex;
}

.header-title {
  margin-right: auto;
  color: #82D7F7;
}

.header-img {
  width: 100px;
}

.header-course {
  list-style: none;
  display: flex;
  margin-right: 2vh;
}

.header-items > li {
  padding: 2vh;
}

.MainContent {
  display: flex;
}

.main-list > li {
  color: #82D7F7;
  list-style-type: disc;
}

.main-list > li > span {
  color: white;

}
